.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #183027;   
    width:100%;
    color: white;
    margin-bottom: 100px;

}
.header a{
    text-decoration: none;
    color: white;
    margin-left: 32px;
    margin-right: 32px;
}
.header a:hover{
    border-bottom: 2px solid white;
}
.header .links{
    margin-right: 112px;
}
